<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<div class="container">
    <h2 class="text-center pt-5" th:text="|Available properties ${city}|">Available properties for Your search!</h2>
    <th:block th:if="${properties.size() == 0}" th:class="align-items-center">
        <h2 th:text="|No properties in ${city}!|" class="text-center"></h2>
        <a th:href="@{/search/country}"><h2 class="text-center">Search for other properties!</h2></a>
    </th:block>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" th:each="property : ${properties}">
            <div class="card h-100">
                <th:block th:if="${model} != null">
                    <a th:href="|/reservation/details/${property.getId()}/${model.getStartDate()}/${model.getEndDate()}/${model.getOccupancy()}|">
                        <img class="card-img-top" th:src="${property.getFirstPicture()}"
                            th:alt="${property.getName()}">
                </th:block>
                <th:block th:unless="${model} != null">
                    <a th:href="|/reservation/details/${property.getId()}|"><img
                            class="card-img-top" th:src="${property.getFirstPicture()}"
                            th:alt="${property.getName()}">
                </th:block>
                <div class="card-body">
                    <h4 class="card-title">
                        <p th:text="${property.getName()}"></p>
                    </h4>
                    <h4 class="card-title">
                        <p th:text="|Price per night: ${property.getPrice()}|"></p>
                    </h4>
                    <h4 class="card-title">
                        <p th:text="|Location: ${property.getCity().getName()}|"></p>
                    </h4>
                    <p class="card-text" th:text="${property.getShortDescription()}"></p>
                </div>
            </div></a>
        </div>
    </div>
</div>


<th:block th:replace="fragments/footer"/>
</body>
</html>