<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<div class="container">
    <div class="align-items-center">
        <h2 class="text-center" th:text="${message}"></h2>
        <div class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="col-md-3 mb-3" th:each="picture : ${property.getPictures()}">
                    <img class="img-fluid"
                         th:src="${picture}">
                </div>
            </div>
        </div>
        <div class="card h-100">
            <div class="form-label-group">
                <div class="form-label-group">
                    <input type="text" id="selectedCountry" class="form-control" name="country"
                           th:value="${property.getCity().getCountry().getName()}" readonly
                           required>
                </div>
                <label for="selectedCountry">Country </label>
            </div>
            <div class="form-label-group">
                <div class="form-label-group">
                    <input type="text" id="selectedCity" class="form-control" name="city"
                           th:value="${property.getCity().getName()}" readonly required>
                </div>
                <label for="selectedCity">City </label>
            </div>
            <div class="form-label-group">
                <div class="form-label-group">
                    <input type="text" id="selectedPropertyName" class="form-control"
                           name="propertyName"
                           th:value="${property.getName()}" readonly required>
                </div>
                <label for="selectedPropertyName">Property name </label>
            </div>
            <div class="form-label-group">
                <div class="form-label-group">
                            <textarea type="text" id="selectedPropertyDescription" rows="5" class="form-control"
                                      name="description"
                                      th:text="${property.getDescription()}" readonly required></textarea>
                </div>
                <label for="selectedPropertyDescription">Description </label>
            </div>
            <div class="form-label-group">
                <div class="form-label-group">
                    <input type="text" id="selectedPropertyOccupancy" class="form-control"
                           name="maxOccupancy"
                           th:value="${property.getMaxOccupancy()}" readonly required>
                </div>
                <label for="selectedPropertyOccupancy">Max Occupancy </label>
            </div>
            <div class="form-label-group">
                <div class="form-label-group">
                            <textarea type="text" id="selectedPropertyFullStreet" class="form-control" name="fullStreet"
                                      th:text="${property.getFullStreet()}" readonly required></textarea>
                </div>
                <label for="selectedPropertyFullStreet">Address </label>
            </div>
            <div class="form-label-group">
                <div class="form-label-group">
                    <input type="text" id="selectedPropertyPrice" class="form-control" name="price"
                           th:value="${property.getPrice()}" readonly required>
                </div>
                <label for="selectedPropertyPrice">Price per night </label>
            </div>
            <th:block th:unless="${property.getReviewViewModels().size() == 0}">
                <button id="btnReviewShow" class="btn btn-lg btn-light btn-block text-uppercase"
                        onclick="showReviews(event)">Show Reviews
                </button>
                <label for="btnReviewShow">Click to see all reviews</label>
                <div class="card-body" id="reviewsShow" style="display: none">
                    <div class="form-label-group">
                        <div class="card card-signin my-5"
                             th:each="review : ${property.getReviewViewModels()}">
                            <div class="form-label-group">
                                <p class="text-center"
                                   th:text="|Review level: ${review.getLevel()}|"></p>
                                <p class="text-center">Description</p>
                                <textarea type="text" id="reviewDescription" class="form-control" rows="3"
                                          name="reviewDescription"
                                          th:text="${review.getDescription()}" readonly required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${property.getReviewViewModels().size() == 0}">
                <p class="btn btn-lg btn-light btn-block text-uppercase">No reviews for the property</p>
            </th:block>
            <form class="form-signin" th:action="@{/property/add/picture/{id}(id=*{property.getId()})}"
                  th:method="get">
                <input type="text" id="picture" class="form-control" name="pictureUrl"
                       placeholder="Paste a Picture URL" required>
                <label for="picture">Paste a picture URL to add picture</label>
                <button id="btn" class="btn btn-lg btn-light btn-block text-uppercase">Add Picture</button>
            </form>
        </div>
    </div>
</div>
</div>
<th:block th:replace="fragments/footer"/>
</body>
<script type="text/javascript" src="/js/confirmAndExpand.js"></script>
</html>