<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-8 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <legend>Make a reservation</legend>
                    <form th:action="@{/reservation/create}" class="form-horizontal" method="post">
                        <fieldset>
                            <div class="form-label-group">
                                <select class="browser-default custom-select" id="selectCountry" name="country" onchange="renderAllCities()">
                                    <option selected value="">Select Country</option>
                                    <option th:each="country : ${countries}" th:value="${country}"
                                            th:text="${country}">Options
                                    </option>
                                </select>
                                <label for="selectCountry" class="col-md-5 control-label">Select Country</label>
                            </div>
                            <div class="form-label-group" id="citiesToFill">
                            </div>
                            <div class="form-label-group">
                                <input type="number" id="inputOccupancy" class="form-control" name="occupancy"
                                       placeholder="Occupancy" required autofocus>
                                <label for="inputOccupancy">Occupancy</label>
                            </div>
                            <h5 class="card-title">Reservation dates:</h5>
                            <div class="form-group">
                                <div class="input-group date form_date col-md-5" id="startDate" data-date=""
                                     data-date-format="d.mm.yyyy"
                                     data-link-field="dtp_input2" data-link-format="dd.mm.yyyy">
                                    <input class="form-control" size="16" type="text" name="startDate"
                                            readonly required>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <label for="dtp_inputCheckIn" class="col-md-3 control-label">Check-In</label>
                                <input type="hidden" id="dtp_inputCheckIn" /><br/>
                            </div>
                            <div class="form-group">
                                <div class="input-group date form_date col-md-5" id="endDate" data-date=""
                                     data-date-format="d.mm.yyyy"
                                     data-link-field="dtp_input2" data-link-format="dd.mm.yyyy">
                                    <input class="form-control" size="16" type="text" name="endDate"  readonly>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <label for="dtp_inputCheckOut" class="col-md-3 control-label">Check-Out</label>
                                <input type="hidden" id="dtp_inputCheckOut" required/><br/>
                            </div>
                            <button class="btn btn-lg btn-dark btn-block text-uppercase">Search</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link media="screen" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap-datetimepicker.min.css}">
<script type="text/javascript" src="/vendor/calender/jquery-1.8.3.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/vendor/calender/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/calender/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/calender.js"></script>
<script type="text/javascript" src="/js/reservation.js"></script>
</body>
</html>
