<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <th:block th:if="${message != null}">
                        <h2 class="card-title text-center text-danger">It did not work. Please try again.</h2>
                    </th:block>
                    <h5 class="card-title text-center" th:text="|Register as ${role.toUpperCase()}|"></h5>
                    <form class="form-signin" th:action="@{/user/register/{role}(role=${role})}" th:method="post" th:object="${userRegisterModel}"
                          oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>
                        <div class="form-label-group" th:classappend="${#fields.hasErrors('username')}? 'text-danger'">
                            <label id="usernameCheckUser" class="text-danger" style="display: none">Username already exist. Please pick another!</label>
                            <input type="text" th:field="*{username}" id="inputUsernameUser" class="form-control" name="inputUsernameUser" placeholder="Username" onchange="checkUsername()"  required autofocus>
                            <label for="inputUsernameUser">Username <label  th:each="error : ${#fields.errors('username')}" th:text="${error}"></label></label>
                        </div>

                        <div class="form-label-group" th:classappend="${#fields.hasErrors('email')}? 'text-danger'">
                            <label id="emailCheckUser" class="text-danger" style="display: none">Email already exist. Please use another!</label>
                            <input type="email" th:field="*{email}" id="inputEmailUser" class="form-control" name="email" placeholder="Email address"  onchange="checkEmail()" required>
                            <label for="inputEmailUser">Email address <label th:each="error : ${#fields.errors('email')}" th:text="${error}"></label></label>
                        </div>

                        <div class="form-label-group" th:classappend="${#fields.hasErrors('firstName')}? 'text-danger'">
                            <input type="text" th:field="*{firstName}" id="inputFirstName" class="form-control" name="firstName" placeholder="First name"  required autofocus>
                            <label for="inputFirstName">First Name <label  th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></label></label>
                        </div>

                        <div class="form-label-group" th:classappend="${#fields.hasErrors('lastName')}? 'text-danger'">
                            <input type="text"  th:field="*{lastName}" id="inputLastName" class="form-control" name="lastName" placeholder="Last name" required autofocus>
                            <label for="inputLastName">Last name <label th:each="error : ${#fields.errors('lastName')}" th:text="${error}"></label></label>
                        </div>

                        <div class="form-label-group" th:classappend="${#fields.hasErrors('age')}? 'text-danger'">
                            <input type="number" th:field="*{age}" id="inputAge" class="form-control" name="age" placeholder="Age"  required autofocus>
                            <label for="inputAge">Age <label th:each="error : ${#fields.errors('age')}" th:text="${error}" ></label></label>
                        </div>

                        <hr>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" name="confirmPassword" placeholder="Password" required>
                            <label for="inputConfirmPassword">Confirm password</label>
                        </div>

                        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Register</button>
                        <hr class="my-4">
                        <a class="d-block text-center mt-2 " th:href="@{/user/login}">Log In</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"/>
<script src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/js/userRegistration.js"></script>
</body>
</html>