<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="local bed and breakfast">
    <meta name="Aleks" content="LocalB&B">
    <title th:text="${title}"></title>
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/real-estate-44/64/1-02-512.png">
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}">

    <link rel="stylesheet" th:href="@{/css/modern-business.css}">
</head>