<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Pick a Country</h5>
                    <ul>
                        <li class=" dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdownCountry" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Countries
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownCountry" >
                                <a class="dropdown-item" th:each="country : ${countries}" th:href="@{'/search/cities?country=' + ${country}}"
                                   th:value="${country}" th:text="${country}"></a>
                            </div>
                           <!-- <div class="form-group blu-margin">
                                <select class="form-control" th:field="${operator.opeId}"  id="dropOperator">
                                    <option value="0">select operator</option>
                                    <option th:each="operator : ${operators}" th:value="${operator.id}" th:text="${operator.operatorName}"></option>
                                </select>
                            </div>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer"/>
</body>
</html>