<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<div class="container">
    <br>
    <h1 class="text-center">All Users</h1>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Satus</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}" >
        <tr>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:if="${user.isActive()}" ><a th:href="|/admin/status/${user.getId()}|"> User is Active Deactivate user</a></td>
            <td th:if="${user.isActive() == false}" ><a th:href="|/admin/status/${user.getId()}|" > User is Not Active Activate user</a></td>
        </tr>
        </tbody>
    </table>

</div>
<th:block th:replace="fragments/footer"/>
</body>
</html>
