<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"/>
<body>
<th:block th:replace="fragments/navigation"/>
<th:block th:replace="fragments/header"/>
<div class="container">
    <h1 class="my-4">Welcome to Local Bed and Breakfast. Here You can <a  th:href="@{/search/country}"> search </a>for incredible locations all over Europe.</h1>
    <h2 class="my-4">In ore order to reserve You should <a  th:href="@{/user/login}">Log In.</a></h2>
    <h2 class="my-4">Don't have an account <a th:href="@{/user/register/guest}">Register here.</a></h2>
    <h2 class="my-4">You want to offer Your location <a th:href="@{/user/register/host}">Register here.</a></h2>
    <h2 class="my-4"><a th:href="@{/property/show/all}">See top locations.</a></h2>
    <hr>
</div>
<th:block th:replace="fragments/footer"/>
</body>
</html>
